
 <style>

        #container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        p {
            line-height: 1.6;
            color: black;
        }

    #bottom-image {
        max-width: 100%;
        height: 50%;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
 </style>



 <div id="container">
        <h1>Witaj w BookLove!</h1>

        <p>Witaj w Twoim osobistym przewodnikiem po fascynującym świecie książek. BookLove to nowoczesna aplikacja webowa oparta na technologii MVC, stworzona z myślą o miłośnikach literatury.</p>

        <h2>Funkcje:</h2>
        <ul>
            <li><strong>Wyszukiwanie Książek:</strong> Skorzystaj z funkcji wyszukiwania, aby odnaleźć książki z różnych gatunków.</li>
            <li><strong>Dodawanie Książek:</strong> Dodawaj nowe tytuły do naszej bazy danych, dzieląc się swoimi ulubionymi lekturami z innymi użytkownikami BookLove.</li>
            <li><strong>Ulubione Książki:</strong> Twórz listę ulubionych książek i łatwo do nich wracaj, dzięki funkcji ulubionych. Niech BookLove stanie się Twoim spersonalizowanym regałem.</li>
            <li><strong>Ocenianie Książek:</strong> Wyrażaj swoje opinie poprzez dodawanie ocen i recenzji. Pomóż innym użytkownikom znaleźć najciekawsze lektury.</li>
        </ul>

        <p><strong>Dlaczego BookLove?</strong> To nie tylko aplikacja, to społeczność miłośników książek, która dzieli się pasją do czytania. Niezależnie od tego, czy jesteś zapalonym czytelnikiem, czy dopiero zaczynasz swoją przygodę z literaturą, BookLove dostarczy Ci inspirujących doświadczeń czytelniczych.</p>

        <p>Rozpocznij swoją podróż po fascynującym świecie książek z BookLove już dziś! Bo dla nas każda strona to nowa przygoda.</p>
        <br />
        Aplikacja została przygotowana przez Małgorzatę Makowską jako projekt zaliczeniowy z przedmiotu "Programowanie zaawansowane".
  </div>
  <br />
  <br />
<img id="bottom-image" src="/images/about.jpg" alt="Obrazek na dole strony">



