@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@{
    var currentYear = DateTime.Now.Year;
}
<p> Welcome in New Year! It is @currentYear :)))</p>